*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body{
	position:relative;
	padding:0px;
	margin:0px;
	background-color:#585077;
	background-image:url(../images/for-site/main_pattern.PNG);
	background-size:auto 350px;
	background-repeat:repeat;
	text-align:center;
	/*keep this*/
	background-attachment:fixed;
	/*cursor: url(../images/for-site/cursor.PNG), auto;*/
}

p, h1, h2, h3, h4, h5, h6{
	font-family:'Kiwi Maru',monospace, sans-serif;
	color:white;
	margin-bottom:20px;
}

p{
	font-size:min(3vw, 14pt);
	margin:10px 0px;
}

h1{
	font-size:min(5.5vw, 45pt);
	margin:30px 0px;
}

h2{
	font-size:min(5vw, 40pt);
	margin:25px 0px;
}

h3{
	font-size:min(4.5vw, 30pt);
	margin:20px 0px;
}

h4{
	font-size:min(4vw, 20pt);
	margin:15px 0px;
}

h5{
	font-size:min(3.5vw, 16pt);
	margin:10px 0px;
}

h6{
	font-size:min(2.5vw, 12pt);
	margin:10px 0px;
}

a, a:visited{
	color:white;
	font-size:min(3vw, 14pt);
	font-family:'Kiwi Maru',monospace,  sans-serif;
	text-decoration:none;
	background-color:#bbc0e9;
	padding:5px 10px;
	margin:0px;
	border-radius:6px;
}

a:hover, a:visited:hover{
	color:white;
	font-size:min(3vw, 14pt);
	font-family:'Kiwi Maru', monospace,  sans-serif;
	text-decoration:none;
	background-color:#a3dafe;
	padding:5px 10px;
	margin:0px;
	cursor:pointer;
	border-radius:6px;
}

ul{
	list-style-type:circle;
	list-style-position:inside;
	color:white;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru', monospace, sans-serif;
	margin-bottom:30px;
}

li{
	margin-bottom:25px;
}

footer{
	position:relative;
	margin-top:60px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	background-color:#1f203c;
	border-radius:6px;
}

hr{
	background-color:#abb4cc;
	border-color:#abb4cc;
	height:4px;
	border-style:solid;
	border-radius:6px;
	margin-top:0px;
	margin-bottom:20px;
}

form{
	margin-left:15px;
	margin-right:15px;
	margin-top:15px;
	margin-bottom:15px;
}

button{
	background-color:#bbc0e9;
	border-color:#80002a;
	border-style:solid;
	border-radius:6px;
	color:white;
	font-size:min(3.5vw, 16pt);
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	font-family:'Kiwi Maru',monospace, sans-serif;
}

button:hover{
	cursor:pointer;
	background-color:#a3dafe;
}

img{
	border-radius:6px;
}

footer p{
	margin:10px;
	font-size:min(2.5vw, 12pt);
}

iframe{
	border-style:soild;
	border-color:#abb4cc;
	background-color:#585077;
	max-width:720vh;
	max-height:480vh;
}

.centered{
    display:flex;
		flex-direction:column;
    align-items:center;
		align-self:center;
		margin:20px 50px;
    padding:10px;
		position:relative;
}

.nav{
	display:flex;
	flex-direction:row;
	align-items:center;
	background:linear-gradient(rgba(13, 5, 42,0.8) 60%, rgba(52,48,88, 0));
	position:relative;
	white-space:nowrap;
	overflow-x:hidden;
	overflow-y:hidden;
	justify-content:space-between;
}

.nav-options{
	display:flex;
	flex-direction:row;
	align-items:center
}

.nav-options ul{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:10px;
	list-style-type: none;
	margin:0px;
}

.nav-options ul li{
	list-style-type: none;
	margin-right:20px;
	margin-bottom:0px;
}

.nav-options ul li a, .nav ul li a:visited{
	color:white;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru',monospace, sans-serif;
	background-color:rgba(255,255,255,0);
	border-radius:4px;
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	white-space:nowrap;
}

.nav-options ul li a:hover, .nav ul li a:visited:hover{
	cursor:pointer;
	color:white;
	background-color:#a3dafe;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru',monospace, sans-serif;
	border-radius:4px;
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	white-space:nowrap;
}

.dropdown{
	display:none;
}

.dropButton, .dropButton:visited{
	background-color:rgba(255, 255, 255, 0);
	margin-bottom:15px;
	border:none;
}


.dropButton:hover, .dropButton:visited:hover{
	background-color:rgba(255, 255, 255, 0);
	cursor:hover;
	margin-bottom:15px;
	border:none;
}

.dropButton img{
	max-width:12vh;
	max-height:12vh;
	border-radius:5px;
}

.dropdown-options, .dropdown-options:visited{
	display:none;
}

.dropdown-options ul{
display:flex;
flex-direction:column;
align-items:center;
margin-bottom:10px;
list-style-type: none;
margin:0px;
}

.dropdown-options ul li{
	list-style-type: none;
	margin-bottom:15px;
}

.dropdown-options ul li a, .dropdown-options ul li a:visited{
	color:white;
font-size:min(3.5vw, 16pt);
font-family:'Kiwi Maru',monospace, sans-serif;
border-radius:4px;
padding-top: 6px;
padding-bottom:6px;
padding-left:20px;
padding-right:20px;
text-decoration:none;
white-space:nowrap;
}

.dropdown-options ul li a:hover, .dropdown-options ul li a:visited:hover{
	cursor:pointer;
color:white;
font-size:min(3.5vw, 16pt);
font-family:'Kiwi Maru',monospace, sans-serif;
border-radius:4px;
padding-top: 6px;
padding-bottom:6px;
padding-left:20px;
padding-right:20px;
text-decoration:none;
white-space:nowrap;
}

.base-button, .base-button:visited{
	color:white;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru',monospace,  sans-serif;
	text-decoration:none;
	background-color:#bbc0e9;
	padding:5px 10px;
	margin:30px 15px;
	border-radius:6px;
	border-color:white;
	border-style:solid;
	border-width:3px;
	white-space:nowrap;
}

.base-button:hover, .base-button:hover{
	color:white;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru', monospace, sans-serif;
	text-decoration:none;
	background-color:#a3dafe;
	padding:5px 10px;
	margin:30px 15px;
	cursor:pointer;
	border-radius:6px;
	border-color:white;
	border-style:solid;
	border-width:3px;
	white-space:nowrap;
}

.socialButton, .socialButton:visited{
	max-height:14vh;
	text-align:center;
	padding:20px 20px;
	margin:0px 15px;
	background-color:rgba(255,255,255,0);
}

.socialButton:hover, .socialButton:visited:hover{
	max-height:14vh;
	text-align:center;
	padding:20px 20px;
	margin:0px 15px;
	background-color:rgba(255,255,255,0);
	cursor:pointer;
}

.socialButton img{
	max-height:9vh;
	width:auto;
}

.gallery{
	border-style:outset;
	border-radius:8px;
	background-color:rgba(255, 255, 255, 0.4);
	padding:20px;
	border-color:#80002a;
	border-width:5px;
}

.gallery-row{
	margin-bottom:30px;
}

.gallery-img{
	max-width:35vh;
	max-height:45vh;
	object-fit:cover;
	margin:15px;
	background-color:rgb(255, 238, 239);
	border-radius:12px;
}

.small-gallery-img{
	max-width:22vh;
	max-height:22vh;
	object-fit:contain;
	margin:15px 20px;
	background-color:rgb(255, 238, 239);
	border-radius:12px;
}

.long-gallery-img{
	max-width:35vh;
	max-height:45vh;
	object-fit:cover;
	margin:15px 20px;
	background-color:rgb(255, 238, 239);
	border-radius:12px;
}

.commission-sheet-img{
	max-width:60vh;
	max-height:60vh;
	object-fit:cover;
	margin:15px 20px;
	background-color:rgb(174, 161, 231);
	border-radius:12px;
}

.commission-row{
	display:flex;
	flex-direction:row;
	align-items:center;
}

.gallery-menu-holder{
	background-color:rgba(40, 41, 92, 0.8);
	padding:20px 20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:12px;
	margin-bottom:20px;
}

.portfolio-menu{
	background-color:rgba(40, 41, 92, 0.8);
	padding:20px 20px;
	display:flex;
	flex-direction:row;
	align-items:center;
	border-radius:12px;
	margin-bottom:20px;
}

.portfolio-menu ul{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0px;
}

.portfolio-menu li{
	display:inline-block;
	margin:10px 10px;
}

.portfolio-menu ul li a, .portfolio-menu ul li a:visited{
	color:white;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru', monospace, sans-serif;
	border-radius:4px;
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	margin-top:22px;
	margin-bottom:2px;
	margin-left:10px;
	margin-right:15px;
	white-space:nowrap;
}

.portfolio-menu ul li a:hover, .portfolio-menu ul li a:visited:hover{
	background-color:#a3dafe;
	cursor:pointer;
	white-space:nowrap;
}

.gallery-menu-button, .gallery-menu-button:visited{
	background-color:rgba(255, 255, 255, 0);
	border-radius:12px;
	border-color:rgba(255, 255, 255, 0);
	padding:10px 15px;
}

.gallery-menu-button:hover, .gallery-menu-button:visited:hover{
	background-color:rgba(132, 62, 223, 0.452);
	border-radius:12px;
	border-color:rgba(255, 255, 255, 0);
	padding:10px 15px;
	cursor:hover;
}

.gallery-menu-button img{
	max-width:min(8vh, 120px);
	max-height:min(8vh, 120px);
}

.gallery-menu{
	display:none;
}

.gallery-menu ul{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0px;
}

.gallery-menu li{
	display:inline-block;
	margin:10px 10px;
}

.gallery-menu ul li a, .gallery-menu ul li a:visited{
	color:white;
	font-size:min(3.5vw, 16pt);
	font-family:'Kiwi Maru', monospace, sans-serif;
	border-radius:4px;
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	margin-top:22px;
	margin-bottom:2px;
	margin-left:10px;
	margin-right:15px;
	white-space:nowrap;
}

.gallery-menu ul li a:hover, .gallery-menu ul li a:visited:hover{
	background-color:#a3dafe;
	cursor:pointer;
	white-space:nowrap;
}

.FAQ-box{
	background-color:rgba(120, 113, 171, 0.85);
	border-radius:12px;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:20px;
}

.FAQ-Single{
	width:100%;
	border-top-style:dashed;
	border-left-style:solid;
	border-right-style:solid;
	border-color:#46367c;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:0px 10px;
}

.FAQ-question{
	padding-left:15px;
	align-self:flex-start;
}

.will-wont-box{
	display:table;
	margin-bottom:50px;
	align-self:center;
}

.wont-side{
	background-color:rgba(226, 62, 84, 0.7);
	border-left-style:solid;
	border-width:4px;
	border-top-style:dashed;
	border-bottom-style:dashed;
	border-right-style:dashed;
	border-color:white;
	padding:20px 25px;
	display:table-cell;
}

.will-side{
	background-color:rgba(62, 103, 226, 0.7);
	border-right-style:solid;
	border-width:4px;
	border-top-style:dashed;
	border-bottom-style:dashed;
	border-left-style:dashed;
	border-color:white;
	padding:20px 25px;
	display:table-cell;
	margin-bottom:30px;
}

.info-box{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:rgba(22, 28, 59, 0.85);
	border-radius: 12px;
	padding:25px 50px;
	margin-bottom:30px;
}

.icon, .icon:visited{
	background-color:rgba(255, 255, 255, 0);
}

.icon:hover, .icon:visited:hover{
	background-color:rgba(255, 255, 255, 0);
	cursor:hover;
}

.nav-icon, .nav-icon:visited{
	background-color:rgba(255, 255, 255, 0);
}

.nav-icon:hover, .nav-icon:visited:hover{
	background-color:rgba(255, 255, 255, 0);
	cursor:hover;
}

.nav-icon img{
	max-width:7vh;
	max-height:7vh;
	margin:5px;
}

.icon-img{
	max-width:12vh;
	max-height:12vh;
	border-radius:5px;
	margin:5px;
}

.med-icon-img{
	display:block;
	max-width:17vh;
	max-height:17vh;
	margin-bottom:30px;
	border-radius:5px;
}

.hidden, .hidden:visited{
	background-color:rgba(255, 255, 255, 0);
	font-family:'Kiwi Maru',monospace, sans-serif;
	font-size:min(3vw, 14pt);
	color:white;
	text-decoration:none;
}

.hidden:hover, .hidden:visited:hover{
	background-color:rgba(255, 255, 255, 0);
	font-family:'Kiwi Maru',monospace, sans-serif;
	font-size:min(3vw, 14pt);
	color:white;
	text-decoration:none;
	cursor:pointer;
}

.case-box{
	background-color:rgba(9, 18, 69, 0.8);
	display:table;
	padding-bottom:30px;
}

.case-file-title{
	background-color:#0B0529;
	display:table-row;
}

.case-file-holder{
	display:table-row;
	padding:10px 100px;
}

.commission-gallery{
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:12px;
	align-items:center;
	padding:40px 40px;
	background-color:rgba(139, 167, 211, 0.7);
}

.case-title{
	padding-left:100px;
	padding-right:100px;
}

.show-off-icon{
	max-width:22vh;
	border-radius:8px;
}

.pixel-image{
	max-width:14.5vh;
	max-height:14.5vh;
}

.game-display{
	display:flex;
	align-items:center;
	flex-direction:column;
	border-radius:8px;
	border-style:ridge;
	border-color:#2B1752;
}

.chibi-animal-img{
	max-width:27vh;
	max-height:27vh;
	object-fit:contain;
	margin:15px;
	background-color:rgb(255, 238, 239);
	border-radius:12px;
}

.show-off-img{
	max-width:66vh;
}

.info-img{
	max-width:32vh;
}

.clear-button{
	background-color:rgba(255,255,255,0);
	border-color:rgba(255,255,255,0);
}

.clear-button:hover{
	background-color:rgba(255,255,255,0);
	border-color:rgba(255,255,255,0);
	cursor:pointer;
}

.x-button{
	font-weight:bolder;
	font-size:min(4vw, 20px);
	background-color:rgba(255,255,255,0);
	border-color:white;
	border-radius:8px;
	border-width:4px;
	padding:8px;
	margin-right:450px;
	margin-top:150px;
}

.pop-up{
	background-color:rgba(34, 36, 54, 0.7);
	position:fixed;
	display:none;
	top:0; /*position up and down*/
	left:0; /*position left right*/
	width:100%;
	height:100vh;
	z-index:1; /*position as a layer (front and back)*/
	overflow:auto; /*helps with autoscroll*/
	padding:25px 50px;
	align-items:center;
}

.display-column{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.display-row{
	display:flex;
	flex-direction:row;
	align-items:center;
}

.display-row-end{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	width:100vw;
}

.img-menu{
	background-color:#45488D;
	color:white;
	border-radius:8px;
}

.img-menu ul{
	display:flex;
	flex-direction:row;
	align-items:center;
	list-style-type: none;
}

.img-menu ul li {
	text-decoration:none;
	list-style-type: none;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}

#view-img{
	height:75%;
	max-height:550px;/*this will be handy*/
	margin:15px 20px;
}

.fake-button, .fake-button:hover{
	background-color:#bbc0e9;
	border-color:none;
	border-style:none;
	border-radius:6px;
	color:white;
	font-size:min(3.5vw, 16pt);
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	font-family:'Kiwi Maru',monospace, sans-serif;
	cursor:not-allowed;
	white-space:nowrap;
}

.profile-gallery{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:75px 75px;
	padding:30px 30px;
	background-color:rgba(8, 10, 23, 0.788);
}

.profile-row{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin: 0px 30px;
	padding:25px 20px;
}

.profile, .profile:visited{
	margin-right:50px;
	background-color:rgba(8, 10, 23, 0.788);
	border-radius:10px;
	align-items:center;
	display:flex;
	flex-direction:column;
	max-width:350px;
	max-height:350px;
	padding:20px 20px;
	border-color:rgba(43, 53, 118, 0.788);
}

.profile:hover, .profile:visited:hover{
	margin-right:50px;
	background-color:rgba(43, 53, 118, 0.788);
	border-radius:10px;
	align-items:center;
	display:flex;
	flex-direction:column;
	max-width:350px;
	max-height:350px;
	padding:20px 20px;
	border-color:rgba(43, 53, 118, 0.788);
	cursor:not-allowed;
}


.profile p{
	font-size:min(4vw, 30pt);
	font-weight:bold;
}

.profile img{
	max-width:300px;
	max-height:300px;
}

.can-click-profile, .can-click-profile:visited{
	margin-right:50px;
	background-color:rgba(8, 10, 23, 0.788);
	border-radius:10px;
	align-items:center;
	display:flex;
	flex-direction:column;
	max-width:350px;
	max-height:350px;
	padding:20px 20px;
	border-color:rgba(43, 53, 118, 0.788);
}

.can-click-profile:hover, .can-click-profile:visited:hover{
	margin-right:50px;
	background-color:rgba(43, 53, 118, 0.788);
	border-radius:10px;
	align-items:center;
	display:flex;
	flex-direction:column;
	max-width:350px;
	max-height:350px;
	padding:20px 20px;
	border-color:rgba(43, 53, 118, 0.788);
	cursor:pointer;
}

.can-click-profile p{
	font-size:min(4vw, 30pt);
	font-weight:bold;
}

.can-click-profile img{
	max-width:300px;
	max-height:300px;
}


.extra-hidden, .extra-hidden:visited{
	color:rgba(255, 255, 255, 0.05);
	border-color:rgba(255, 255, 255, 0);
	background-color:rgba(255, 255, 255, 0);
	font-size:(2.5vw, 14pt);
}

.extra-hidden-two{
	color:rgba(255, 255, 255, 0.1);
	border-color:rgba(255, 255, 255, 0);
	background-color:rgba(255, 255, 255, 0);
	font-size:(2.5vw, 14pt);
}

.extra-hidden:hover, .extra-hidden:visited:hover{
	color:rgba(255, 255, 255, 0.05);
	border-color:rgba(255, 255, 255, 0);
	background-color:rgba(255, 255, 255, 0);
	font-size:(2.5vw, 14pt);
	cursor:pointer;
}

.video-row{
	display:flex;
	flex-direction: row;
	align-items:center;
}

.profile-video{
	max-width:250px;
	max-height:400px;
	margin-right:40px;
	margin-top:30px;
}

::-webkit-scrollbar{
	width:8px;
	height:8px;
	/* controls width and height for both*/
}

::-webkit-scrollbar-track{
	background-color:#1f203c;
}

::-webkit-scrollbar-thumb{
	background-color:rgb(142, 204, 246);
	border-radius:40px;
	cursor:pointer;
}

::-webkit-scrollbar-thumb:hover{
	background-color:rgb(142, 204, 246);
	border-radius:40px;
	cursor:pointer;
}


/*tablet build*/
@media only screen and (max-width:1200px){
	.nav{
		display:flex;
		flex-direction:row;
		align-items:center;
		background:linear-gradient(rgba(13, 5, 42,0.8) 60%, rgba(52,48,88, 0));
		border-radius:12px;
		position:relative;
		white-space:nowrap;
		overflow-x:scroll;
		overflow-y:hidden;
		justify-content:space-between;
	}

}

/*phone build*/
@media only screen and (max-width:600px){
	.nav{
		display:none;
	}

	.dropdown{
		display:flex;
			flex-direction:column;
			align-items:center;
			background:linear-gradient(rgba(13, 5, 42,0.8) 60%, rgba(52,48,88, 0));
			border-radius:12px;
			position:relative;
			white-space:nowrap;
			overflow-y:hidden;
			overflow-x:hidden;
	}
	
	.dropButton, .dropButton:visited{
		background-color:rgba(255, 255, 255, 0);
		margin-bottom:15px;
		border:none;
	}
	
	
	.dropButton:hover, .dropButton:visited:hover{
		background-color:rgba(255, 255, 255, 0);
		cursor:hover;
		margin-bottom:15px;
		border:none;
	}
	
	.dropButton img{
		max-width:12vh;
		max-height:12vh;
		border-radius:5px;
	}
	
	.dropdown-options, .dropdown-options:visited{
		display:none;
	}
	
	.dropdown-options ul{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:10px;
	list-style-type: none;
	margin:0px;
	}
	
	.dropdown-options ul li{
		list-style-type: none;
		margin-bottom:15px;
	}
	
	.dropdown-options ul li a, .dropdown-options ul li a:visited{
		color:white;
	font-size:min(4vw, 20pt);
	font-family:'Kiwi Maru',monospace, sans-serif;
	border-radius:4px;
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	white-space:nowrap;
	width:100vw;
	}
	
	.dropdown-options ul li a:hover, .dropdown-options ul li a:visited:hover{
		cursor:pointer;
	color:white;
	font-size:min(4vw, 20pt);
	font-family:'Kiwi Maru',monospace, sans-serif;
	border-radius:4px;
	padding-top: 6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	white-space:nowrap;
	width:100vw;
	}
	

	.img-menu{
		background-color:#45488D;
		color:white;
		border-radius:8px;
		overflow:scroll;
	}

	.info-img{
		max-width:300px;
	}

	.show-off-img{
		max-width:300px;
	}

	.pixel-image{
		max-width:min(14.5vh, 120px);
		max-height:120px;
	}

	.chibi-animal-img{
		max-width:250px;
		max-height:250px;
		object-fit:contain;
		margin:15px;
		background-color:rgb(255, 238, 239);
		border-radius:12px;
	}

	#view-img{
		height:75%;
		max-height:350px;/*this will be handy*/
		max-width:350px;
		margin:15px 20px;
	}

	.x-button{
		font-weight:bolder;
		font-size:min(6vw, 40pt);
		background-color:rgba(255,255,255,0);
		border-color:white;
		border-radius:8px;
		border-width:4px;
		padding:8px;
		margin-right:100px;
		margin-top:25px;
	}

	.pop-up{
		background-color:rgba(34, 36, 54, 0.7);
		position:fixed;
		display:none;
		top:0; /*position up and down*/
		left:0; /*position left right*/
		width:100%;
		height:100vh;
		z-index:1; /*position as a layer (front and back)*/
		overflow:auto; /*helps with autoscroll*/
		padding:25px 50px;
		align-items:top;
	}
}